.row
  .col-md-5.col-md-offset-1
    %h2 Tasks
  .col-md-2.col-md-offset-4
    = link_to new_task_path, remote: true do
      %button.btn.btn-default New

.row
  .col-md-6.col-md-offset-2#task-form{ style: 'display:none;' }

.row
  .col-md-7.col-md-offset-1#tasks= render @tasks
